<div class="show">
    <div class="field">
        <p><strong>Account name:</strong></p>
        <p class="left"> <%= @student.name %></p><br> 
    </div>
    <div class="field">
        <p><strong>Email:</strong></p> 
        <p class="left1"><%= @student.email %></p><br>
    </div>
    <div class="field">
        <p><strong>Address:</strong></p>
        <p class="left2"> <%= @student.address %></p><br>
    </div>
    <div class="field">
        <p><strong>Phone Number:</strong></p>
        <p> <%= @student.phone_number %></p>
    </div>
    <div class="field">
        <p><strong>Date Of Birth:</strong></p>
        <p> <%= @student.birthday %></p>
    </div>
</div>